PROJECT_NAME=HackathonBack
VERSION=0.1.0
DEBUG=true
ALLOWED_ORIGINS=["http://localhost:3000"]

AI_SERVICE_URL=https://YOUR_AI_HOST:8001
CA_CERT_PATH=certs/ca.crt

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=hackathon
